.logo{
    display: inlin-block;
    font-weight: 700;
    font-family:'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    width: 145px;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: var(--color-black);
}
.blue-logo{
    color: var(--color-blue);
}